@use './variables';
@use './mixins';
@use '../fonts/fonts';

body{
   @extend %font-main;

   background-color: var(--color-white);
   color: var(--color-darkGrey);
   font-family: Montserrat-Regular, sans-serif;
}

#root{
   @include mixins.adaptiveValue('padding-block', 15, 30);

   position: relative;
   overflow: hidden;
   flex-direction: column;
   display: flex;
}

::-webkit-scrollbar{
   width: 11px;
}
::-webkit-scrollbar-track{
   background-color: var(--color-lightOrange);
}
::-webkit-scrollbar-thumb{
   background-color: var(--color-coral);
   border-radius: 10px;
   border: 2px solid var(--color-lightOrange);
}
::-webkit-scrollbar-thumb:hover{
   background-color: #ff8965ab;
}
*::selection{
	color: var(--color-lightGrey);
	background-color: var(--color-darkGrey);
}

input{font-size: inherit;}
input::-webkit-input-placeholder{
   opacity: 1; 
   transition: .25s all;
}
input:focus::-webkit-input-placeholder{
   opacity: 0; 
}