*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*:before,*:after{
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
:focus,:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
   min-height: 100%;
   width: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{
   cursor: pointer;
   background-color: transparent;
   border: none;
   display: inline-block;
   width: max-content;
   font-size: inherit;

   &::-moz-focus-inner{
      padding: 0;
      border: 0;
   }
}
a{
   color: inherit;
   text-decoration: none;

   &:visited,&:hover{
      text-decoration: none;
   }
}
ol,ul,li{list-style: none;}
img{
   vertical-align: top;
   max-width: 100%;
}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
html,
:has(:target) {
  scroll-behavior: smooth;
  height: 100%;
} 
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }
svg * {transition-property: fill, stroke;}
#root {
   line-height: 1.5;
   min-height: 100vh;
}