@use './mixins';

$paddingContainer: 15;
.container{
   width: 100%;
   max-width: #{mixins.$containerMaxWidth + $paddingContainer*2}px;
   margin-inline: auto;
   padding-inline: #{$paddingContainer}px;
   position: relative;
}

.visually_hidden{
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
}