@use '../../../scss/mixins';
@use '../../../scss/media';

.button{
   @include mixins.adaptiveValue('padding-block', 5, 10);
   @include mixins.adaptiveValue('padding-inline', 7, 14);

   background-color: inherit;
   color: inherit;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   text-wrap: nowrap;
   transition: .25s all, .15s scale;
   font-family: Montserrat-Medium;
   user-select: none;

   &:active{scale: .97;}

   span{
      position: absolute;
      border-radius: 50%;
      transition: .25s all ease; 
      pointer-events: none;
      will-change: transform, opacity;
   }
}