@font-face {
   font-family: "Montserrat-Regular";
   src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.eot") format("otf");
   font-weight: 400;
   font-display: swap;
}
@font-face {
   font-family: "Montserrat-Medium";
   src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.eot") format("otf");
   font-weight: 500;
   font-display: swap;
}
@font-face {
   font-family: "Montserrat-Bold";
   src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.eot") format("otf");
   font-weight: 700;
   font-display: swap;
}
