@use "/src/scss/mixins";
@use "/src/scss/media";

.wrapper{
   @include mixins.adaptiveValue('padding-top', 20, 30);
}

.content{
   @include mixins.adaptiveValue('max-width', 390, 500);

   position: relative;
   left: 40%;

   @include media.tabletSmall{
      left: 50%;
      transform: translateX(-50%);
   }
}