@use '/src/scss/mixins';
@use '/src/scss/media';

.card{
   width: 100%;
   background-color: var(--color-purple);
   border-radius: 10px;
   margin-bottom: 20px;
   padding: 10px;
   box-shadow: 0 0 10px 3px var(--color-lightGrey);

   &_image{
      border-radius: 10px;
      margin-bottom: 15px;
   }

   &_description{
      background-color: var(--color-white);
      border-radius: 10px;
      padding: 10px;
   }

   p:not(:last-child){
      margin-bottom: 10px;
   }
}

.buttons{
   display: flex;
   gap: 15px;
   justify-content: center;

   button{
      display: flex;
      gap: 8px;
      align-items: center;
      width: 100%;
      border: 2px solid var(--color-lightOrange);

      &:first-child{
         border: 2px solid var(--color-lightPurple);
      }
   }
}